<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cn.bizconf.vcpro">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.FLAG_GRANT_READ_URI_PERMISSION"/>
    <application android:allowBackup="true" android:icon="@mipmap/icon" android:label="@string/app_name" android:name="MyWrapperProxyApplication" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name="cn.bizconf.vcpro.module.login.activity.WelcomeActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="cn.bizconf.vcpro.module.common.TestActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.login.activity.LoginActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:launchMode="singleTask" android:name="cn.bizconf.vcpro.module.login.activity.LoginJoinActivity" android:screenOrientation="portrait">
            <intent-filter>
                <data android:host="www.confcloud.cn" android:scheme="pfcloud"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="layoutDirection|locale" android:name="cn.bizconf.vcpro.module.home.activity.HomeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="layoutDirection|locale" android:name="cn.bizconf.vcpro.module.home.activity.FastStartMeetingActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="cn.bizconf.vcpro.module.setting.activity.UserMessageActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.setting.activity.ChangeUserNameActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.setting.activity.MeetingSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.setting.activity.ChangePasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.setting.activity.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.setting.activity.HelpActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.personal.activity.MeetingEditActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.personal.activity.PersonalRoomSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.ChangeNameActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.AppointmentNumberPeopleActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.StartEarlyTimeActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.AvailableTimeActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.CycleMeetingActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.HostPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.ChangeTimeZoneActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.RecommendRoomsActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.AddRoomsActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.RoomsListActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.EventRemiderActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.AppointmentSuccessActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.AddToCaledarActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.SelectBvRoomsActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.CompileBvRoomsActivity" android:screenOrientation="portrait"/>
        <activity android:name="cn.bizconf.vcpro.module.appointment.activity.OccupancyMeetingStatusActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="UMENG_APPKEY" android:value="587d9110a40fa355620039a3"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="testCD"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTask" android:name="com.zipow.videobox.JoinByURLActivity" android:theme="@style/ZMTheme.Transparent"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTask" android:name="com.zipow.videobox.IntegrationActivity" android:theme="@style/ZMTheme.Transparent"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.MeetingEndMessageActivity" android:theme="@style/ZMDialog.Transparent"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="false" android:name="com.zipow.videobox.ConfActivityNormal" android:theme="@style/ZMTheme.SubWindow"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="false" android:name="com.zipow.videobox.PListActivity" android:theme="@style/ZMTheme.SubWindow"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.ConfChatActivityOld" android:theme="@style/ZMTheme.SubWindow"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.MeetingRunningInfoActivity" android:theme="@style/ZMTheme.SubWindow"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.CallInActivity" android:theme="@style/ZMTheme.SubWindow"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.SimpleActivity" android:theme="@style/ZMTheme.SubWindow" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.SimpleInMeetingActivity" android:theme="@style/ZMTheme.SubWindow" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.poll.PollingActivity" android:theme="@style/ZMTheme.SubWindow"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.poll.WebinarPollingActivity" android:theme="@style/ZMTheme.SubWindow"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.poll.PollingResultActivity" android:theme="@style/ZMTheme.SubWindow"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.zipow.videobox.poll.WebinarPollingResultActivity" android:theme="@style/ZMTheme.SubWindow"/>
        <activity android:configChanges="orientation|screenSize" android:name="us.zoom.androidlib.app.ZMFileListActivity" android:theme="@style/ZMTheme.SubWindow"/>
        <service android:exported="false" android:label="@string/zm_app_name" android:name="com.zipow.videobox.kubi.KubiService"/>
        <activity android:name="meeting.confcloud.cn.bizaudiosdk.activity.LiveStreamActivity" android:screenOrientation="portrait"/>
        <activity android:name="meeting.confcloud.cn.bizaudiosdk.activity.ChatMessageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="meeting.confcloud.cn.bizaudiosdk.activity.CustomMeetingActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="meeting.confcloud.cn.bizaudiosdk.AudienceActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name="meeting.confcloud.cn.bizaudiosdk.activity.CommentActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name="com.lzy.imagepicker.ui.ImageBaseActivity"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.lzy.imagepicker.ui.ImageGridActivity" android:theme="@style/ImagePickerTheme"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="false" android:name="com.lzy.imagepicker.ui.ImageCropActivity" android:theme="@style/ImagePickerTheme"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.lzy.imagepicker.ui.ImagePreviewActivity" android:theme="@style/ImagePickerThemeFullScreen"/>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.activity.UdeskHelperActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.activity.UdeskHelperArticleActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.activity.UdeskRobotActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.activity.UdeskFormActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.activity.UdeskChatActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.activity.UdeskZoomImageActivty" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.activity.UdeskOptionsAgentGroupActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.activity.UdeskWebViewUrlAcivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.photoselect.PhotoSelectorActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.photoselect.PreviewActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="cn.udesk.photoselect.PictureVideoPlayActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="cn.udesk.camera.UdeskCameraActivity" android:screenOrientation="portrait" android:theme="@style/Udesk_Theme"/>
        <provider android:authorities="cn.bizconf.vcpro.udeskfileprovider" android:exported="false" android:grantUriPermissions="true" android:name="cn.udesk.provider.UdeskFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/udesk_provider_paths"/>
        </provider>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>